@model IEnumerable<MessageViewModel>

@{
    ViewData["Title"] = "Inbox";
}

<div class="messages-container">
    <table class="messages-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>From</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>

            @foreach(var message in Model)
            {
                <tr>
                    <td>@message.Title</td>
                    <td>@message.User.Email</td>
                    <td>
                        <a asp-route-messageId="@message.Id" class="submit" asp-action="Details" asp-controller="Inbox" asp-area="Admin">Details</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>