<div class="cart-items">
    <ul class="items">
        
    </ul>
    <br />
    <hr />
    <div class="order-button-container">
        <button type="submit" class="order-button">Place order</button>
    </div>
</div>