<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Layout.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <nav class="top-navigation-bar">
            <ul class="top-list-container">
                <li id="top-icon-item">
                    <div class="dropdown" dropdown-menu>
                        <img id="top-icon" src="~/images/wave.ico" alt="wave-icon" dropdown-button>
                        <div class="menu-sidebar" id="left-menu">
                            <partial name="_SidebarPartial" />
                        </div>
                    </div>
                </li>
                <li>
                    <h1 id="top-heading">Twins <br> Artstyle</h1>
                </li>
                <li>
                    <button class="top-cart-button animate-background-color">
                        <img id="top-cart-icon" src="~/images/shopping-cart.png" alt="shopping-cart">
                        <p id="top-cart">Cart</p>
                    </button>
                </li>
            </ul>
        </nav>
    </header>
    <div class="categories">
        <ul id="categories-container">
            <li class="category-item">
                <i class="bi bi-house-door-fill"></i>
                <a asp-area="Main" asp-controller="Home" asp-action="Index" class="category animate-background-color">Home</a>
            </li>
            <li class="category-item">
                <i class="bi bi-printer-fill"></i>
                <a asp-area="Main" asp-controller="Home" asp-action="Index" class="category animate-background-color">Принтове</a>
            </li>
            <li class="category-item">
                <i class="bi bi-calendar"></i>
                <a asp-area="Main" asp-controller="Home" asp-action="Index" class="category animate-background-color">Платна</a>
            </li>
            <li class="category-item">
                <i class="bi bi-brush-fill"></i>
                <a asp-area="Main" asp-controller="Home" asp-action="Index" class="category animate-background-color">Рисунки</a>
            </li>
        </ul>
    </div>
    <div class="content-wrapper">
        @RenderBody()
    </div>

    <footer>
        <nav id="bottom-nav-bar">
            <ul class="bottom-list-container">
                <li>
                    <a class="bottom-link" href="#">Contact Us</a>
                </li>
                <li>
                    <a class="bottom-link" asp-area="Main" asp-controller="Home" asp-action="About">About Us</a>
                </li>
                <li>
                    <a class="bottom-link" href="#">Terms of Service</a>
                </li>
                <li>
                    <a class="bottom-link" href="#">Privacy Policy</a>
                </li>
            </ul>
        </nav>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>