<div class="product-card">
    <img class="product-image" src="~/images/The Rock.png" />
    <span class="product-name">Product Name</span>
    <div class="add-product">
        <span class="price">7.50$</span>
        <button class="add-to-cart-button">Add To Cart</button>
    </div>
</div>