@using Microsoft.AspNetCore.Identity
@using TwinsArtstyle.Infrastructure.Models
@using TwinsArtstyle.Services.Constants
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="menu-item">
        <span id="hello-message">Hello, @User.Claims.Where(c => c.Type == "Full Name").FirstOrDefault().Value</span>
    </div>

    @if (User.IsInRole(RoleType.Admininstrator))
    {
        <div class="menu-item">
            <a asp-area="Admin" asp-action="Info" asp-controller="Home" id="admin-panel">Admin Panel</a>
        </div>
    }

    <div class="menu-item">
        <a asp-area="Main" asp-controller="Profile" asp-action="UserProfile" >My Profile</a>
    </div>
    <div class="menu-item">
        <a href="#">My Orders</a>
    </div>
    <div class="menu-item">
        <a asp-area="Main" asp-controller="Addresses" asp-action="All">My Addresses</a>
    </div>
    <div class="menu-item">
        <a asp-action="Logout" asp-controller="User">Logout</a>
    </div>
}
else
{
    <div class="menu-item">
        <a asp-controller="User" asp-action="Login">Login</a>
    </div>
    <div class="menu-item">
        <a asp-controller="User" asp-action="Register">Register</a>
    </div>
}