@using Microsoft.AspNetCore.Identity
@using TwinsArtstyle.Infrastructure.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="menu-item">
        <span id="hello-message">Hello, @User.Claims.Where(c => c.Type == "Full Name").FirstOrDefault().Value</span>
    </div>
    <div class="menu-item">
        <a href="#">My Profile</a>
    </div>
    <div class="menu-item">
        <a href="#">My Orders</a>
    </div>
    <div class="menu-item">
        <a href="#">My Addresses</a>
    </div>
    <div class="menu-item">
        <a asp-action="Logout" asp-controller="User">Logout</a>
    </div>
}
else
{
    <div class="menu-item">
        <a asp-controller="User" asp-action="Login">Login</a>
    </div>
    <div class="menu-item">
        <a asp-controller="User" asp-action="Register">Register</a>
    </div>
}