<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Layout.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>
<body>
        <header>
            <nav class="top-navigation-bar">
                <ul class="top-list-container">
                    <li id="top-icon-item">
                        <img id="top-icon" src="~/images/wave.ico" alt="wave-icon">
                    </li>
                    <li>
                        <h1 id="top-heading">Twins <br> Artstyle</h1>
                    </li>
                    <li>
                        <button class="top-cart-button animate-background-color">
                            <img id="top-cart-icon" src="~/images/shopping-cart.png" alt="shopping-cart">
                            <p id="top-cart">Cart</p>
                        </button>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="categories">
            <ul id="categories-container">
                <li class="category-item">
                    <a href="#" class="category">Home</a>
                </li>
                <li class="category-item">
                    <a href="#" class="category animate-background-color">Принтове</a>
                </li>
                <li class="category-item">
                    <a href="#" class="category animate-background-color">Платна</a>
                </li>
                <li class="category-item">
                    <a href="#" class="category animate-background-color">Рисунки</a>
                </li>
            </ul>
        </div>

        @RenderBody();

        <footer>
            <nav id="bottom-nav-bar">
                <ul class="bottom-list-container">
                    <li>
                        <a class="bottom-link" href="#">Contact Us</a>
                    </li>
                    <li>
                        <a class="bottom-link" href="#">About Us</a>
                    </li>
                    <li>
                        <a class="bottom-link" href="#">Terms of Service</a>
                    </li>
                    <li>
                        <a class="bottom-link" href="#">Privacy Policy</a>
                    </li>
                </ul>
            </nav>
        </footer>
</body>
</html>