<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../wwwroot/css/Layout.css">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <title>Twins Artstyle</title>
</head>
<body>
    <header>
        <nav class="top-navigation-bar">
            <ul class="top-list-container">
                <li id="top-icon-item">
                    <img id="top-icon" src="../../wwwroot/images/wave.ico" alt="wave-icon">
                </li>
                <li>
                    <h1 id="top-heading">Twins <br> Artstyle</h1>
                </li>
                <li>
                    <button class="top-cart-button">
                        <img id="top-cart-icon" src="../../wwwroot/images/shopping-cart.png" alt="shopping-cart">
                        <p id="top-cart">Cart</p>
                    </button>
                </li>
            </ul>
        </nav>
    </header>
        
        <!-- Space for partial views-->

    <footer>
        <nav id="bottom-nav-bar">
            <ul class="bottom-list-container">
                <li>
                    <a class="bottom-link" href="#">Contact Us</a>
                </li>
                <li>
                    <a class="bottom-link" href="#">About Us</a>
                </li>
                <li>
                    <a class="bottom-link" href="#">Terms of Service</a>
                </li>
                <li>
                    <a class="bottom-link" href="#">Privacy Policy</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>