<div class="add-administrator-container">
    <form class="add-administrator" asp-area="Admin" asp-controller="Administrators" asp-action="Add" method="post">
        <span>Email: </span>
        <input type="email" class="email" name="email" />
        <div class="submit-button-container">
            <button class="submit">Add administrator</button>
        </div>
    </form>
</div>