@model UserViewModel
@{
    ViewData["Title"] = "Edit User";
}

<div id="edit-user">
    <form asp-area="Admin" asp-controller="Users" asp-action="Edit" method="post" asp-route-oldEmail="@Model.Email">
        <div class="form-floating">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-floating">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-floating">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-floating">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="submit-button-container">
            <button id="login-submit" class="submit" type="submit">Save Changes</button>
        </div>
    </form>
</div>