@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<div id="products">
    <h3>@ViewData["Category"]</h3>
    <div class="panel">

        @foreach (var item in Model)
        {
            <partial name="_ProductPartial" model="item" />
        }

    </div>
</div>