@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<form asp-area="Admin" asp-controller="Account" asp-action="Login">
    <div class="form-card">
        <div class="form-floating">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <div class="checkbox">
                <label asp-for="RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>
        <div class="submit-button-container">
            <button id="login-submit" class="submit" type="submit">Log in</button>
        </div>
    </div>
</form>