.text-danger{
    color: red;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-card{
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 20%;
}

.form-floating{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-label{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

.form-control{
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #333;
    padding: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.submit-button-container{
    margin-top: 15px;
}

.submit{
    width: 100%; 
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 6px 3px;
    border-radius: 20px;
    background-color: #333;
    color: #eee;
    border: none;

}

.submit:hover{
    cursor: pointer;
}