
a {
    text-decoration: none;
}

.text-danger{
    color: red;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-wrapper{
    display: flex;
    position:absolute;
    margin-left: 250px;
    width: calc(100% - 250px);
    height: calc(100% - 80px);
    justify-content: flex-start;
    gap: 20px;
}

.registered-users{
    position: relative;
    top: 30px;
    left: 20px;
    width: 800px;
    height: calc(100% - 80px);
}

.panel > h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
    font-size: 30px;
}

.panel{
    padding: 10px;
    background-color: #eee;
    border-radius: 15px;
    border: 1px solid #d6d6d6;
    box-shadow: 3px 3px 6px #333;
}

.display-table{
    display: table;
    border-collapse: collapse;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    width: 100%;
}

.display-head, .display-data{
    border: 1px solid #868686;
    padding: 5px;
}

.action-icon:hover{
    cursor: pointer;
}

.delete{
    color: red;
}

#edit-user{
    width: 300px;
    position: relative;
    top: 50px;
    padding: 15px;
    margin: 0 auto;
    height: calc(100% - 80px);
}

.form-floating{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-label{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-control{
    font-size: 20px;
    padding: 7px 5px 7px 6px;
    border: 1px solid #333;
    border-radius: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #eee;
}

.submit-button-container{
    margin-top: 15px;
}

.submit{
    padding: 5px 10px;
    font-size: 24px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
}

.submit:hover{
    cursor: pointer;
}

#roles{
    position: relative;
    width: 200px;
    text-align: center;
}

#add-product{
    margin: 10px 20px;
    height: calc(100% - 80px);
}

#products > .panel {
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    max-height: 580px;
    overflow-y: scroll;
}

#products {
    height: fit-content;
    max-height: 580px;
}


.product-card{
    max-width: 190px;
    display: flex;
    flex-direction: column;
    border: 1px solid #868686;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    word-wrap: break-word;
}

.product-image-container > img{
    height: 150px;
    width: auto;
}

.add-administrator-container{
    margin:0 auto;
}

.add-administrator{
    background-color: #333;
    height: 200px;
    width: 500px;
    max-width: 500px;
    max-height: 200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    border-radius: 20px;
}

.add-administrator > input{
    font-size: 30px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.administrators{
    display: flex;
    flex-direction: column;
}

#orders{
    width: 1600px;
    max-width: 1600px;
    height: 700px;
    max-height: 700px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 30px;
    overflow-y: scroll;
}

.order{
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #333;
    height: 150px;
    max-height: 150px;
    width: 100%;
    gap: 15px;
}

.user-information{
    display: flex;
    flex-direction: column;
    max-height: 300px;
    max-width: 300px;
    width: 300px;
    overflow-y: scroll;
    border: 2px solid #333;
    padding: 7px;
    
}

.address-container{
    max-width: 200px;
    overflow-y: scroll;
    border: 2px solid #333;
}

.details{
    text-decoration: none;
    color: #333;
}

.creation-date{
    width: 180px;
}

.order-id{
    width: 100%;
    max-width: 220px;
}

.order-details{
    background-color: #eee;
    border: 2px solid #333;
    height: 600px;
    max-height: 600px;
    width: 1000px;
    max-width: 1000px;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.products-table{
    display: table;
    width: 100%;
    text-align: center;
    border-collapse: collapse;

}

.product-image{
    width: 50px;
    height: auto;
}

tr{
    border-bottom: 1px solid #333;
}

td{
    padding: 5px;
}

.shipping-information{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border: 1px solid #333;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}

.total-price{
    margin-top: 50px;
    font-size: 2em;
}

.header-empty{
    margin: 0 auto;
    font-size: 80px;
    letter-spacing: 6px;
    opacity: 40%;
    color: #333;
    font-weight: lighter;
}

.messages-container{
    background-color: #eee;
    width: 700px;
    max-width: 700px;
    height: 700px;
    max-height: 700px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 7px #333;
    overflow-y: scroll;
}

.messages-table{
    display: table;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    max-width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}
