
::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background: #333;
}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

a{
    text-decoration: none;
}

html, body{
    height: 100vh;
}

.header-container{
    background-color: #333;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-left: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.border-right{
    border-right: 1px solid white;
}

.admin-menu{
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    border: 1px solid white;
    padding: 7px;
    margin-right: 6px;
    border-radius: 4px;
}

.top-nav-item{
    padding: 0px 5px;
}

.pointer-cursor:hover{
    cursor: pointer;
}

.nav-text{
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icon{
    color: white;
}

.left-menu-bar{
    display: inline-flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: calc(100% - 80px);
    background-color: #333;
    gap: 7px;
}

.item{
    padding: 9px;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}

.left-nav-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight:100;
    font-size: 25px;
}

#add-admin-button{
    background-color: #eee;
    color: #333;
}