@import "colors.css";


.text-danger{
    padding: 5px 0px;
    color: red;
}

.text-success{
    padding: 5px 0px;
    color: green;
}

.welcome-main-text{
    font-size: 50px;
    font-family: "Comic Sans MS";
    color: white;    
}

li.welcome-main-text{
    margin-left: 4%;
}

li.about-text{
    margin-left: 50px;
}
  
#twins-drawing{
    width: auto;
    height: 400px;
    display: inline;
    position: absolute;
    left: 50%;
    top: 48%;
}

.about-contact-card{
    display: flex;
    position: relative;
    top: 100px;
    margin: 0 15%;
    width: 800px;
    background-color: #eee;
    border-radius: 30px;
    box-shadow: 2px 3px 9px #333;
    align-items: center;
    justify-content: space-between;
}

.about-us-container{
    width: 50%;
    margin: 30px;
}

.about-text{
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS";
    color: #333;
    text-decoration: none;
}

#contact-list{
    list-style: none;
}

#contact-list > li{
    padding: 8px;
}

.contacts{
    position: relative;
    right: 40px;
}

.icon{
    padding-right: 10px;
}

.account-card, #profile-card{
    font-family: "Comic Sans MS";
    position: relative;
    top: 50px;
    width: 20%;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #333;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-heading{
    text-align: center;
    font-size: 35px;
    font-family: "Comic Sans MS";
}


.form-floating{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-label{
    font-size: 20px;
}

.form-control{
    font-size: 20px;
    padding: 7px 5px 7px 6px;
    border: 1px solid #333;
    border-radius: 6px;
    font-family: "Comic Sans MS";
    background-color: #eee;
}

.submit-button-container{
    margin-top: 15px;
    text-align: center;
}

.submit{
    padding: 5px 10px;
    font-size: 24px;
    width: 100%;
    font-family: "Comic Sans MS";
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    color: white;
}

.submit:hover{
    background-color: var(--dark-blue-green);
    cursor: pointer;
}

#register-new-user{
    text-decoration: none;
    color: #333;
}

.product-card{
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue);
    max-width: 250px;
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: 8px 10px 30px #333;
    font-family: "Comic Sans MS";
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.product-card > img{
    width: 200px;
    height: auto;
    border: 1px solid #333;
    border-radius: 2px;
}

.product-name{
    text-align: center;
    font-size: 20px;
    color: white;
}

.product-count{
    width: 60px;
    height: auto;
    background-color: var(--light-blue);
    border: 1px solid var(--blue);
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.add-product{
    display: flex;
    width: 100%;
    border: 2px solid white;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.price{
    color: white; 
    font-size: larger;
}

.add-to-cart-button{
    padding: 7px;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--light-blue);
}

.add-to-cart-button:hover{
    cursor: pointer;
    color: #333;
}

#access-denied{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 70px auto;
    align-items: center;
    font-size: 30px;
    font-family: "";
    color: white;
    text-transform: uppercase;
    gap: 3px;
}

#status-code{
    text-align: center;
}

#access-denied > img{
    width: 256px;
    height: 256px;
}

.panel{
    padding: 10px;
    background-color: var(--dark-blue-green);
    border-radius: 15px;
    border: 1px solid var(--dark-blue-green);
    box-shadow: 3px 3px 6px #333;
    margin: 0 auto;
    display: flex;
    gap: 35px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#products{
    height: 80%;
}

#products > h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: var(--light-blue);
    font-size: 50px;
}

.address-card{
    background-color: #eee;
    border-radius: 15px;
    padding: 20px;
    height: 470px;
    max-height: 470px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 300px;
    margin: 0 auto;
    overflow-y: scroll;
    margin-top: 10px;
    font-family: "Comic Sans MS";
}

.address-card::-webkit-scrollbar{
   width: 10px;
    background-color: var(--light-blue);
    border-radius: 15px;
}

.address-card::-webkit-scrollbar-track{
    width: 12px;
}

.address-card::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: #333;
}

.submit-button-container > a{
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    color: white;
    background-color: var(--blue);
    padding: 5px;
    border-radius: 15px;
}