.text{
  font-size: 50px;
  font-family: "Comic Sans MS";
  color: white;
  
}

li.text{
  margin-left: 50px;
}

#twins-drawing{
  width: auto;
  height: 200px;
  display: inline;
 position: relative;
 left: 50%;
}