@import "colors.css";


.text-danger{
    padding: 5px 0px;
    color: red;
}

.welcome-main-text{
    font-size: 50px;
    font-family: "Comic Sans MS";
    color: white;    
}

li.welcome-main-text{
    margin-left: 4%;
}

li.about-text{
    margin-left: 50px;
}
  
#twins-drawing{
    width: auto;
    height: 400px;
    display: inline;
    position: absolute;
    left: 50%;
    top: 48%;
}

.about-contact-card{
    display: flex;
    position: relative;
    top: 100px;
    margin: 0 15%;
    width: 800px;
    background-color: #eee;
    border-radius: 30px;
    box-shadow: 2px 3px 9px #333;
    align-items: center;
    justify-content: space-between;
}

.about-us-container{
    width: 50%;
    margin: 30px;
}

.about-text{
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS";
    color: #333;
    text-decoration: none;
}

#contact-list{
    list-style: none;
}

#contact-list > li{
    padding: 8px;
}

.contacts{
    position: relative;
    right: 40px;
}

.icon{
    padding-right: 10px;
}

.account-card{
    font-family: "Comic Sans MS";
    position: relative;
    top: 50px;
    width: 20%;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #333;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.account-card > h2{
    text-align: center;
    font-size: 35px;
}

.form-floating{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-label{
    font-size: 20px;
}

.form-control{
    font-size: 20px;
    padding: 7px 5px 7px 6px;
    border: 1px solid #333;
    border-radius: 6px;
    font-family: "Comic Sans MS";
    background-color: #eee;
}

.submit-button-container{
    margin-top: 15px;
}

.submit{
    padding: 5px 10px;
    font-size: 24px;
    width: 100%;
    font-family: "Comic Sans MS";
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    color: white;
}

.submit:hover{
    background-color: var(--dark-blue-green);
    cursor: pointer;
}

#register-new-user{
    text-decoration: none;
    color: #333;
}

.product-card{
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue);
    width: 200px;
    padding: 10px 30px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 8px 10px 30px #333;
    font-family: "Comic Sans MS";
    gap: 3px;
}

.product-card > img{
    width: 189px;
    height: 250px;
    border: 1px solid #333;
    border-radius: 2px;
}

.product-name{
    text-align: center;
    font-size: 20px;
    color: white;
}

.add-product{
    display: flex;
    align-items: center;
    border: 2px solid white;
    justify-content: space-between;
}

.price{
    color: white; 
    font-size: larger;
}

.add-to-cart-button{
    padding: 7px;
    color: white;
    border: none;
    font-size: 20px;
    font-family: "Comic Sans MS";
    background-color: var(--light-blue);
}

.add-to-cart-button:hover{
    cursor: pointer;
    color: #333;
}