@{
    ViewData["Title"] = "Twins Artstyle";
}

<div id="welcome">
    <span class="head welcome-main-text">
        Добре дошли в нашия магазин!
    </span>
    <br>
    <span class="welcome-main-text">Тук можете да намерите най-невероятния и уникален подарък за Ваш:</span>
    <img id="twins-drawing" src="~/images/twins.png" alt="twins-drawing">
    <ul>
        <li class="welcome-main-text">Приятел</li>
        <li class="welcome-main-text">Роднина</li>
        <li class="welcome-main-text">Учител</li>
    </ul>
</div>
